.section-title {
	width: 60%;
	margin: 0 auto;
	position: relative;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.section-subtitle {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

.resources {
	margin: 100px auto 217px auto;
}

.resources__logo-zone {
	width: 1100px;
	padding-top: 80px;
	text-align: center;
	margin: 0 auto;
}

.resources__logo {
	width: 270px;
	height: 38px;
}