.techniques {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 100px;
}

.section-title {
	width: 60%;
	margin: 0 auto;
	position: relative;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.section-subtitle {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 240px);
	grid-gap: 0 100px;
	margin: 0 auto;
	width: 920px;
	padding: 0;
}

.cards__item {
	width: 240px;
}

.cards__image {
	height: 160px;
	width: 160px;
	margin: 60px 40px 43px 40px;
	border-radius: 50%;
}

.cards__title {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

.cards__description {
	line-height: 23px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}