.page {
  position: relative;
  min-width: 1100px;
	/* мы ещё не умеем делать мобильную версию сайта, */
	/* поэтому выше установлена минимальная ширина страницы */
	max-width: 1600px;
	/* выше установили ограничение по максимальной ширине */
	margin: 0 auto;
	/* выше для экранов больше 1600px отцентрировали весь контент */
	font-family: 'Helvetica Neue', Arial, sans-serif;
}
 
.header {
  display: flex;
  align-items: center;
	height: 100vh;
	min-height: 600px;
  max-height: 756px;
	background-color: #f2f2f2;
	position: relative;
	/* выше установили ограничения для секции */
}
 
.header__title {
  position: relative;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600; 
  margin-left:64px;
  width: 730px;
  z-index: 1; 
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
}
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  position: absolute;
  right: 0; 
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.section-title {
	width: 60%;
	margin: 0 auto;
}

.section-subtitle {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px ;
}

.table {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: 0 auto;
	flex-wrap: wrap;
	position: relative;
}

.table__cell {
	width: 250px;
	margin-top: 60px;
}


 /* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
	width: 200px;
	color: white;
	margin-right: 0;
	margin-top: 80px;
}

.logo {
  position: absolute;
  left: 64px;
	top: 30px;
}

.description {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.two-columns {
	display: flex;
	width: 80%; 
	justify-content: space-between;
}

.two-columns__brief {
	width: 175px;
	line-height: 1.2;
	color: #2f80ed;
	font-size: 18px;
	margin-top: 0;
	font-weight: normal;

}

.two-columns__main-text {
	width: 80%; 
	min-width: 784px;
}

.two-columns__paragraph {
	margin-top: 30px;
	margin-bottom: 0;
	line-height: 34px;
	font-size: 18px;
	font-weight: normal;
}

.two-columns__paragraph:first-child {
	margin-top: 0;
}

.two-columns__span-accent {
	line-height: 34px;
	font-size: 18px;
	font-weight: bold;
}

.section-title {
	position: relative;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.section-subtitle {
	position: relative;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

.table__heading {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
}

.table__text {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	margin: 20px 0;
}

.feynman {
	position: relative;
	background-image: url(/images/feynman.png);
	background-size: 867px 637px;
	background-position: left bottom;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	min-height: 790px;
}

.feynman__title {
	line-height: 1.15;
	font-size: 120px;
	font-weight: bold;
	width: 648px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.feynman__subtitle {
	margin-top: 70px;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	
}

.feynman__link {
	position: absolute;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	color: #2f80ed;
	top: 50%;
	right: 48px;
}

.kaufman {
	position: relative;
	overflow: hidden;
	background-color: #1f1f1f;
	padding: 90px 0;
}

.kaufman__triangle {
	position: absolute;
	right: -210px;
	top: 0;
	background-image: url(/images/kaufman-triangle.svg);
	width: 877px;
	height: 877px;
}

.section-title__theme_dark {
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
}

.section-title_theme_dark {
	color: white;
}

.section-subtitle_theme_dark {
	color: white;	
}

.footer {
	position: relative;
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #1f1f1f;
}

.footer__columns {
	width: 90%;
	justify-content: space-between;
	display: flex;
	margin: 0 auto;
	min-height: 350px;
}

.footer__column_content_copyright {
	flex-basis: 711px;
	display: flex;
	flex-direction: column;
}

.logo__place_footer {
  display: flex;	
}

.footer__column-heading {
	color: white;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer__column-link {
	color: white;
	text-decoration: none;

}

.footer__social-icon {
	margin-right: 10px;
}

.footer__column-links {
	color: white;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
}

.footer__author {
	top: 18px;
	bottom: 18px;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
	color: white;
	margin-top: auto;
	padding-top: 18px;
	padding-bottom: 18px;
}

.footer__column_content_social {
	color: white;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
}

